* {
    box-sizing: border-box;
    text-align: center;
  }

  body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

Header, nav {
    width: 98%;
    height: 100px;
    background-color: #ebebeb;
    margin: 10px auto;
    padding: 10px;
}

.myflex {
  display: flex;
  justify-content: center;
}
h1 {
    color: #777;
    background-color: #ebebeb;
    font-size: 18px;
    right: 15px;
    top: -318px;
    height: 45px;
    width: 445px;
    padding: 12px;
}

p {
        color: #777;
        background-color: #ebebeb;
        font-size: 18px;
        right: -12px;
        height: 43px;
        width: 445px;
        padding: 10px;
}

section {

      height: 250px;
      width: 550px;
      margin: 0 10px;
      background-color: #ebebeb;
      padding: 30px;
}

.article {
  color: #ebebeb;
  height: 170px;
  width: 466px;
  padding: 10px;
  background: #777;
  margin: 10px auto;
  
}

footer {
    width: 98%;
    height: 100px;
    background-color: #ebebeb;
    margin: 20px auto;
    padding: 10px;
}